.about {
  background-color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-position: center 0;
}

.about::after {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: "";
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

.about__zigzag {
  position: absolute;
  top: 0;
  left: 0;
}

.about__title {
  font-family: @OpenSans;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #000000;
  padding-top: 33px;
  margin-top: 0;
  margin-bottom: 0;
}

.about__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__module {
  display: block;
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: #000000;
  margin: 0;
}

.about__item {
  padding-top: 85px;
}

.about__item--flower {
  position: relative;
}

.about__item--flower::after {
  position: absolute;
  content: url("../img/icon-feature-flower.svg");
  top: 32px;
  left: 9px;
}

.about__item--rectangle {
  position: relative;
}

.about__item--rectangle::after {
  position: absolute;
  content: url("../img/icon-feature-money.svg");
  top: 31px;
  left: 0;
}

.about__item--heart {
  position: relative;
  padding-top: 83px;
}

.about__item--heart::after {
  position: absolute;
  content: url("../img/icon-feature-heart.svg");
  top: 34px;
  left: 8px;
}

.about__item--clew {
  position: relative;
  padding-top: 83px;
}

.about__item--clew::after {
  position: absolute;
  content: url("../img/icon-feature-ball.svg");
  top: 31px;
  left: 3px;
}

.about__item--rocket {
  position: relative;
  padding-top: 83px;
}

.about__item--rocket::after {
  position: absolute;
  content: url("../img/icon-feature-rocket.svg");
  top: 32px;
  left: -5px;
}

.about__item--box {
  position: relative;
  padding-top: 83px;
}

.about__item--box::after {
  position: absolute;
  content: url("../img/icon-feature-gift.svg");
  top: 30px;
  left: 4px;
}

@media (min-width: @tablet-width) {
  .about {
    padding-left: 46px;
    padding-right: 50px;
  }

  .about::after {
    display: none;
  }

  .about__title {
    font-size: 43px;
    line-height: 1.16;
    padding-top: 66px;
  }

  .about__menu {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    flex-basis: 300px;
    margin-top: 17px;
    margin-left: 4px;
    padding-right: 30px;
  }

  .about__module {
    font-size: 20px;
    line-height: 1.1;
  }

  .about__item--flower {
    order: -6;
  }

  .about__item--rectangle {
    order: -4;
    margin-top: 26px;
  }

  .about__item--heart {
    order: -2;
    margin-top: 28px;
  }

  .about__item--clew {
    order: -5;
    margin-top: 20px;
  }

  .about__item--rocket {
    order: -3;
    margin-top: 28px;
  }

  .about__item--box {
    margin-top: 28px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    display: block;
    padding-left: 220px;
  }

  .about__title {
    font-size: 53px;
    line-height: 1.08;
    padding-top: 83px;
  }

  .about__item {
    padding-right: 47px;
  }
}
