.about {
  background-color: transparent;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.about__title {
  font-family: @OpenSans;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #000000;
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.about__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__module {
  display: block;
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
}

.about__item {
  padding-top: 85px;
}

.about__item--flower {
  position: relative;
}

.about__item--flower::after {
  position: absolute;
  content: url("../img/icon-feature-flower.svg");
  top: 30px;
  left: 0;
}

.about__item--rectangle {
  position: relative;
}

.about__item--rectangle::after {
  position: absolute;
  content: url("../img/icon-feature-money.svg");
  top: 30px;
  left: 0;
}

.about__item--heart {
  position: relative;
}

.about__item--heart::after {
  position: absolute;
  content: url("../img/icon-feature-heart.svg");
  top: 30px;
  left: 0;
}

.about__item--clew {
  position: relative;
}

.about__item--clew::after {
  position: absolute;
  content: url("../img/icon-feature-ball.svg");
  top: 30px;
  left: 0;
}

.about__item--rocket {
  position: relative;
}

.about__item--rocket::after {
  position: absolute;
  content: url("../img/icon-feature-rocket.svg");
  top: 30px;
  left: 0;
}

.about__item--box {
  position: relative;
}

.about__item--box::after {
  position: absolute;
  content: url("../img/icon-feature-gift.svg");
  top: 30px;
  left: 0;
}

@media (min-width: @tablet-width) {
  .about {
    padding-left: 50px;
    padding-right: 50px;
  }

  .about__title {
    font-size: 43px;
    line-height: 1.16;
  }

  .about__menu {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    flex-basis: 300px;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding-left: 225px;
    padding-right: 275px;
  }
}
