.coopyright {
  display: flex;
  width: 182px;
  min-height: 34px;
  justify-content: space-between;
  margin-left: 69px;
  margin-top: 45px;
  align-items: center;
}
.coopyright__link {
  text-decoration: none;
  &:hover path,
  &:focus path {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
.coopyright__text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
}
.coopyright__img {
  padding-left: 17px;
}
