.goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .goods {
    width: @tablet-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .goods {
    width: @desktop-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
