.optional__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 0;
}

.optional__legend {
  padding: 0;
}

.optional__legend-text {
  text-transform: uppercase;
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: left;
  color: #63d1bb;
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  margin-top: 32px;
}

.optional__legend-text::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 62px;
  height: 1px;
  width: 198px;
  background-color: #63d1bb;
}

.optional__input {
  display: block;
  box-sizing: border-box;
  padding: 15px;
  min-height: 142px;
  width: 260px;
  border: solid 2px #000000;
  font-family: @OpenSans;
  font-size: 17px;
  line-height: 1.06;
  text-align: left;
  color: #c7c7c7;

  &:hover {
    border: solid 2px #62d1ba;
  }

  &:focus,
  &:active {
    color: #000000;
    border: solid 2px #62d1ba;
  }
}

.optional__wrap {
  margin-top: 24px;
}

@media (min-width: @tablet-width) {
  .optional__legend-text::after {
    display: none;
  }

  .optional {
    display: flex;
    padding-top: 26px;
  }

  .optional__legend-text {
    margin-top: 42px;
    margin-left: 2px;
  }

  .optional__wrap {
    margin-left: 127px;
  }

  .optional__input {
    padding: 13px 15px;
    min-height: 142px;
    width: 501px;
    font-size: 19px;
    line-height: 0.95;
  }
}

@media (min-width: @desktop-width) {
  .optional__wrap {
    margin-left: 74px;
  }

  .optional__input {
    width: 700px;
  }
}
