.page-footer {
  background-color: #f1f1f1;
  padding-top: 25px;
  padding-bottom: 23px;
  position: relative;
}

.page-footer::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 80px;
  width: 260px;
  height: 1px;
  background: #e5e5e5;
}

.page-footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
}
