.shop {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
}

.shop__wrap {
  min-height: 283px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -16px;
  background-size: 575px 373px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.shop__title {
  font-family: @OpenSans;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #010000;
  display: block;
  width: 244px;
  margin: 0;
  padding-top: 71px;
  padding-left: 7px;
}

.shop__link-interior {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  background-color: #63d1bb;
  align-items: center;

  svg {
    padding-top: 5px;
    padding-right: 6px;
    opacity: 0.5;
  }
}

.shop__link-toys {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  background-color: #56c3b2;
  align-items: center;

  svg {
    opacity: 0.5;
  }
}

.shop__text {
  display: block;
  width: 106px;
  font-family: @OpenSans;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .shop {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1150px 746px;
    min-height: 736px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    margin-bottom: 20px;
    border-top: solid 1px #ececec;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .shop::after {
    position: absolute;
    top: 720px;
    left: 0;
    width: 100%;
    height: 34px;
    content: "";
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    z-index: 10;
  }

  .shop__wrap {
    background: transparent;
    min-height: 624px;
  }

  .shop__menu {
    display: flex;
    position: relative;
  }

  .shop__item {
    flex-grow: 5;
  }

  .shop__text {
    width: 115px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
  }

  .shop__title {
    width: 500px;
    padding-top: 153px;
    padding-left: 0;
    text-align: center;
    margin: auto;
    font-size: 43px;
    line-height: 1.16;
  }

  .shop__link-toys {
    min-height: 119px;
    padding-left: 36px;
    padding-right: 36px;
    position: relative;

    svg {
      position: absolute;
      top: 31px;
      left: 240px;
    }
  }

  .shop__link-interior {
    min-height: 119px;
    padding-left: 36px;
    padding-right: 36px;
    position: relative;

    svg {
      position: absolute;
      top: 25px;
      left: 257px;
    }
  }
}

@media (min-width: @desktop-width) {
  .shop {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1150px 746px;
    min-height: 746px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .shop::after {
    top: 726px;
  }

  .shop__title {
    font-size: 53px;
    font-weight: bold;
    line-height: 1.08;
    text-align: center;
    color: #000000;
    width: 615px;
  }

  .shop__link-toys svg {
    left: 430px;
  }

  .shop__link-interior svg {
    left: 448px;
  }

  .shop__link-interior {
    &:hover,
    &:focus {
      transform: translateY(-5px);
      padding-bottom: 5px;
      min-height: 130px;
      background-color: #59d5bc;
    }

    &:active {
      .shop__text {
        color: rgba(255, 255, 255, 0.3);
      }

      svg {
        opacity: 0.3;
      }
    }
  }

  .shop__link-toys {
    &:hover,
    &:focus {
      transform: translateY(-5px);
      padding-bottom: 5px;
      min-height: 130px;
      background-color: #46c1ae;
    }

    &:active {
      .shop__text {
        color: rgba(255, 255, 255, 0.3);
      }

      svg {
        opacity: 0.3;
      }
    }
  }
}
