.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  text-decoration: none;
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: #000000;
  display: block;
  box-sizing: border-box;
  min-height: 79px;
  box-shadow: inset 0 1px 0 0 #ececec;
  position: relative;
  padding-top: 28px;
  padding-left: 76px;

  &:hover,
  &:focus {
    opacity: 0.6;

    .site-list__image {
      fill: #63d1bb;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;

    .site-list__image {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}

.site-list__image {
  position: absolute;
  top: 31px;
  left: 32px;
  opacity: 0.2;
}

.site-list--top-nojs,
.site-list--middle-nojs {
  display: block;
}

@media (min-width: @tablet-width) {
  .site-list__link {
    box-shadow: none;
    padding: 0;
    min-height: 58px;
  }

  .site-list__link--search {
    font-size: 0;
    padding: 0;
    width: 84px;
    min-height: 88px;
    border-left: solid 1px #ececec;
    border-right: solid 1px #ececec;
    box-sizing: border-box;

    .site-list__image {
      top: 35px;
      left: 35px;
    }
  }

  .site-list__image {
    left: -51px;
    top: 3px;
  }

  .site-list--middle {
    order: -1;
    min-height: 88px;
    display: flex;

    li:nth-child(2) {
      padding-top: 30px;
      padding-left: 85px;
    }
  }

  .site-list--top {
    position: relative;
    z-index: 10;
    width: 48%;
    display: flex;

    li:nth-child(1) {
      padding-top: 18px;
      padding-left: 49px;
    }

    li:nth-child(2) {
      padding-top: 18px;
      padding-left: 36px;
    }

    .site-list__link {
      font-family: @OpenSans;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.6;
      text-align: left;
      color: #000000;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list--top {
    order: -5;
    width: 499px;

    li:nth-child(1) {
      padding-left: 50px;
      width: 234px;
      box-sizing: border-box;
      border-right: solid 1px #ececec;
      min-height: 88px;
      padding-top: 30px;
    }

    li:nth-child(2) {
      padding-top: 30px;
      padding-left: 35px;
    }

    .site-list__link {
      font-size: 17px;
      line-height: 1.41;
    }
  }

  .site-list--middle {
    margin-left: auto;
    padding-right: 50px;
  }

  .site-list--last {
    display: flex;
    position: relative;
    z-index: 10;

    .site-list__link {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }

    li:nth-child(1) {
      padding-left: 50px;
      width: 234px;
      padding-top: 17px;
      box-sizing: border-box;
    }

    li:nth-child(2) {
      padding-top: 17px;
      padding-left: 35px;
    }
  }
}
