.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item--tablet {
  display: none;
}

.site-list__link {
  text-decoration: none;
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: #000000;
  display: block;
  box-sizing: border-box;
  min-height: 79px;
  box-shadow: inset 0 1px 0 0 #ececec;
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 76px;

  &:hover span,
  &:focus span {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__image {
  position: absolute;
  top: 31px;
  left: 0;
  opacity: 0.2;
}

.site-list__item:nth-child(6) {
  display: none;
}

.site-list__item:nth-child(7) {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    padding-left: 50px;
    padding-right: 50px;
  }

  .site-list__item--tablet {
    display: block;
    order: -3;
    width: 50%;
    align-self: center;
  }

  .site-list__link {
    box-shadow: none;
  }

  .site-list__image {
    left: 31px;
  }

  .site-list__item:nth-child(2) {
    position: relative;
    z-index: 10;

    .site-list__link {
      padding: 0;
      padding-top: 24px;
    }
  }

  .site-list__item:nth-child(3) {
    position: relative;
    z-index: 10;

    .site-list__link {
      padding-left: 37px;
      padding-top: 24px;
    }
  }

  .site-list__item:nth-child(4) {
    order: -2;
    box-shadow: inset 1px 0 0 0 #ececec;

    .site-list__link {
      font-size: 0;
    }
  }

  .site-list__item:nth-child(5) {
    order: -1;
    width: auto;
    box-shadow: inset 1px 0 0 0 #ececec;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:nth-child(2) {
    order: -5;
    width: auto;

    .site-list__link {
      padding-right: 35px;
      padding-top: 32px;
    }
  }

  .site-list__item:nth-child(3) {
    order: -4;
    width: auto;
    box-shadow: inset 1px 0 0 0 #ececec;

    .site-list__link {
      padding-top: 32px;
      padding-left: 35px;
    }
  }

  .site-list__item--tablet {
    width: auto;
    margin-left: 75px;
    margin-right: 100px;
  }

  .site-list__item:nth-child(6) {
    display: block;
    position: relative;
    z-index: 10;

    .site-list__link {
      padding-left: 0;
      padding-top: 24px;
    }
  }

  .site-list__item:nth-child(7) {
    display: block;
    position: relative;
    z-index: 10;

    .site-list__link {
      padding-left: 60px;
      padding-top: 24px;
    }
  }
}
