.social {
  display: flex;
  width: 140px;
  min-height: 28px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.social__link {
  display: block;

  &:hover path {
  fill: #46c1ae;
}

  &:active {
    opacity: 0.3;
  }
}
