.social {
  display: flex;
  width: 140px;
  min-height: 28px;
  justify-content: space-between;
  margin-left: 87px;
  align-items: center;
}

.social__link {
  display: block;

  &:active {
  opacity: 0.3;
  }
}

.social__insta {
  position: absolute;
  top: 35px;
  left: 87px;
}

.social__fb {
  position: absolute;
  top: 31px;
  left: 150px;
}

.social__twitter {
  position: absolute;
  top: 35px;
  left: 205px;
}
