.ware__title {
  font-family: @OpenSans;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-top: 27px;
  padding-left: 1px;
}

.ware__title-week {
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0;
  padding-top: 6px;
}

.ware__refinement {
  width: 249px;
  font-family: @OpenSans;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #444444;
  margin: 0;
  padding-top: 22px;
}

.ware__table {
  width: 260px;
  margin: 0;
  padding-top: 18px;
}

.ware__labels {
  display: none;
}

.ware__label {
  border-bottom: 1px solid #ececec;
}

.ware__value {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  min-width: 79px;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 8px;
}

.ware__image {
  padding-top: 26px;
}

.ware__price {
  display: block;
  width: 124px;
  min-height: 17px;
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: center;
  color: #444444;
  margin: 0;
  padding-left: 66px;
  padding-top: 19px;
}

.ware__link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 260px;
  min-height: 52px;
  border: solid 2px #444444;
  background-color: #ffffff;
  margin-top: 26px;
  margin-bottom: 36px;
  text-decoration: none;
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: #444444;

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
  }

  &:hover span,
  &:focus span {
    color: #ffffff;
  }

  &:active span {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .ware {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }

  .ware__image {
    position: absolute;
    top: 106px;
    left: 384px;
  }

  .ware__title {
    width: 430px;
    font-size: 43px;
    line-height: 1.6;
    text-align: left;
    padding: 0;
    padding-top: 16px;

  }

  .ware__title-week {
    flex-basis: 70px;
    font-size: 17px;
    line-height: 1;
    text-align: center;
    padding-left: 139px;
    padding-top: 37px;
  }

  .ware__refinement {
    flex-basis: 668px;
    font-size: 17px;
    line-height: 1.76;
    padding-right: 387px;
    padding-top: 40px;
  }

  .ware__table {
    flex-basis: 668px;
    padding-right: 387px;
    padding-top: 39px;
  }

  .ware__value {
    min-width: 69px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .ware__price {
    font-size: 20px;
    width: 292px;
    line-height: 1.2;
    padding-right: 387px;
    padding-left: 10px;
    padding-top: 53px;
  }

  .ware__link {
    width: 292px;
    min-height: 52px;
    margin-top: 34px;
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .ware {
    padding-left: 220px;
    padding-right: 50px;
    position: relative;
    min-height: 709px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .ware__image {
    top: 22px;
    left: 575px;
    z-index: -1;
  }

  .ware__title {
    width: 600px;
    font-size: 53px;
    padding-top: 88px;
    padding-left: 1px;
  }

  .ware__title-week {
    position: absolute;
    width: 70px;
    font-size: 17px;
    padding: 0;
    top: 116px;
    left: 97px;
    text-align: center;
  }

  .ware__refinement {
    flex-basis: auto;
    padding: 0;
    width: 292px;
    font-size: 17px;
    padding-top: 34px;
    padding-left: 5px;
  }

  .ware__table {
    padding: 0;
    width: 292px;
    padding-top: 51px;
    padding-left: 3px;
  }

  .ware__price {
    padding: 0;
    font-size: 20px;
    line-height: 1.2;
    width: 292px;
    padding-left: 5px;
    padding-top: 104px;
  }

  .ware__link {
    width: 292px;
    min-height: 52px;
    margin-top: 35px;
    margin-bottom: 73px;
    margin-left: 5px;
  }
}
