.ware__title {
  font-family: @OpenSans;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-top: 30px;
  padding-left: 2px;
}

.ware__title-week {
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}

.ware__refinement {
  width: 249px;
  height: 63px;
  font-family: @OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin: 0;
  padding-top: 25px;
}

.ware__table {
  margin: 0;
  padding-top: 33px;
}

.ware__labels {
  display: none;
}

.ware__label {
  display: block;
  border-bottom: 1px solid #ececec;
}

.ware__value {
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid #ececec;
  width: 260px;
  min-height: 41px;
  padding: 0;
  padding-top: 7px;
}

.ware__value::before {
  content: attr(data-label);
  float: left;
  width: 100px;
  min-height: 41px;
  padding: 0;
}

.ware__image {
  padding-top: 28px;
}

.ware__price {
  display: block;
  width: 124px;
  min-height: 17px;
  font-family: @OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  margin: 0;
  padding-left: 67px;
  padding-top: 25px;
}

.ware__link {
  display: block;
  box-sizing: border-box;
  width: 260px;
  min-height: 52px;
  border: solid 2px #444444;
  background-color: #ffffff;
  margin-top: 28px;
  margin-bottom: 36px;
  text-decoration: none;

  span {
    display: block;
    width: 90px;
    min-height: 12px;
    font-family: @OpenSans;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    margin: auto;
    margin-top: 16px;
  }

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
  }

  &:hover span,
  &:focus span{
    color: #ffffff;
  }

  &:active span {
  opacity: 0.3;
  }
}
