@media (min-width: @tablet-width) {
.wrapper {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  }

  .wrapper__gray {
    background-color: #f1f1f1;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: 1150px;
    padding-left: 110px;
    padding-right: 194px;
    }
}
